# Fundamentos de python
- Variables
- Operadores matemáticos
- Operadores lógicos
- Operadores de comparación
- Condicionales
    - Simples
    - Compuestos
    - Anidados
    - Encadenados
- Ciclos
    - Finitos (for)
    - Infinitos (while)
    - Funciones
- Estructuras de datos
    - Caracteres
    - Enteros
    - Flotantes
    - Listas
    - Diccionarios
    - Tuplas

In [1]:
print("hello")

hello

In [2]:
# variables
name = "John"

In [3]:
name

'John'

In [4]:
last_name = "Doe"

In [5]:
last_name

'Doe'

In [ ]:
# operadores matemáticos
suma = 1 + 2
resta = 3 - 1
multiplicacion = 2 * 3
division = 6 / 2
algebra = 2 * (3 + 4) - 5 / 2

In [30]:
number1 = 4
number2 = 3
number3 = 3

In [15]:
suma = number1 + number2 + number3 
resta = number1 - number2 - number3
multiplicacion = number1 * number2 * number3
division = number1 / number2 / number3
algebra = number1 * (number2 + number3) - number1 / number2

In [20]:
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(algebra)

6
-4
6
0.16666666666666666
4.5

In [21]:
print(f"El resultado de la suma es: {suma}")
print(f"El resultado de la resta es: {resta}")
print(f"El resultado de la multiplicación es: {multiplicacion}")
print(f"El resultado de la división es: {division}")
print(f"El resultado del álgebra es: {algebra}")

El resultado de la suma es: 6
El resultado de la resta es: -4
El resultado de la multiplicación es: 6
El resultado de la división es: 0.16666666666666666
El resultado del álgebra es: 4.5

In [ ]:
# operadores de comparación
mayor = 5 > 3
menor = 2 < 4
igual = 3 == 3
diferente = 3 != 4
mayor_igual = 5 >= 5
menor_igual = 2 <= 3

In [22]:
3 > 4

False

In [23]:
number1 < number2

True

In [25]:
# condicionales
print(number1)
print(number2)

if number1 < number2:
    print("number1 es mayor que number2")

1
2
number1 es mayor que number2

In [ ]:
# condicionales
number1 = 1
number2 = 2

if number1 > number2:
    print("number1 es mayor que number2")
elif number2 > number1:
    print("number2 no es mayor que number1")
else:
    print("number2 es igual que number1")

1
2
number2 no es mayor que number1

In [31]:
number1 = 31
number2 = 2

if number1 > number2:
    if number1 > 5:
        print("number1 es mayor que number2)")
        print("number1 es mayor que 5")

number1 es mayor que number2)
number1 es mayor que 5

In [39]:
number1 = 31
number2 = 2.1
if number1 > number2:
    if number1 > 5:
        print("number1 es mayor que number2)")
    else:
        print("number1 no es mayor que number2)")
else:
    print("number1 no es mayor que number2)")

number1 es mayor que number2)

In [33]:
# Estructuras de datos
# strings
name = "Jonas"

In [34]:
type(name)

str

In [36]:
name.capitalize()

'Jonas'

In [37]:
type(number1)

int

In [40]:
type(number2)

float

In [42]:
# Listas
name_list = ["Jonas", "Doe", "Smith"]

In [44]:
age_list = [25, 30, 35]

In [45]:
name_list.append("John")

In [46]:
name_list

['Jonas', 'Doe', 'Smith', 'John']

In [47]:
age_list2 = [
    45,
    65,
    78,
    84
]

In [48]:
name_list

['Jonas', 'Doe', 'Smith', 'John']

In [49]:
name_list[3]

'John'

In [50]:
name_list[-1]

'John'

In [51]:
# Slice de una lista
name_list[0:2]  # [0, 1]

['Jonas', 'Doe']

In [52]:
name_list

['Jonas', 'Doe', 'Smith', 'John']

In [53]:
name_list[1:3]

['Doe', 'Smith']

In [54]:
len(name_list)

4

In [55]:
# Ciclos finitos
for var in name_list:
    print(var)

Jonas
Doe
Smith
John

In [56]:
for name in name_list:
    print(name)  # imprime cada elemento de la lista

Jonas
Doe
Smith
John

In [63]:
for name in name_list:
    if name == "Doe":
        print("its Doe")

its Doe

In [64]:
for name in name_list:
    if name == "Doe":
        # imprime la posición de la lista
        print(name_list.index(name))

1

In [67]:
# recorrido de una lista por indices
for item in range(len(name_list)):
    print(name_list[item])  # imprime cada elemento de la lista por su índice

Jonas
Doe
Smith
John

In [70]:
# rango de valores con range
for i in range(5,10):
    print(i)  # imprime los números del 5 al 9

5
6
7
8
9